---
title: "Kevin's Portfolio"
layout: splash
classes: wide
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/background.jpg
  caption: "Photo credit: Joe"
excerpt: "Completing PhD, excepted graudation Winter 2025. I like combining IoT on different Platforms."

title_of_skills:
  - title: Skills

title_of_portfolio:
  - title: Showcase

feature_row:
  - image_path: /assets/images/boards.jpg
    max_height: 200px
    image_caption: "Photo credit: Joe"
    alt: "Thesis"
    title: "Artificial Intelligence Based Image Recognition Using Limited-Resource Hardware for an Aerial Drone Application"
    excerpt: "PhD Thesis."
    url: "https://pure.qub.ac.uk/en/studentTheses/artificial-intelligence-based-image-recognition-using-limited-res"
    btn_label: "QUB"
    btn_class: "btn--qub"
  - image_path: /assets/images/splash_drone_adjusted.JPG
    max_height: 200px
    image_caption: "Photo credit: Joe"
    alt: "Single Board Computing for Image Recognition on an Autonomous Drone"
    title: "Single Board Computing for Image Recognition on an Autonomous Drone"
    excerpt: "Conference paper presented in IEACon in 2023."
    url: "https://ieeexplore.ieee.org/document/10370368"
    btn_label: "IEEE"
    btn_class: "btn--ieee"
  - image_path: /assets/images/DJI_mini_2.jpg
    max_height: 200px
    image_caption: "Photo credit: Joe"
    title: "Current State of the Art in Object Detection for Autonomous Systems"
    excerpt: "Conference paper presented in IMC37 in 2021."
    url: "https://www.researchgate.net/publication/354786902_Current_State_of_the_Art_in_Object_Detection_for_Autonomous_Systems"
    btn_label: "ResearchGate"
    btn_class: "btn--researchgate"
  - image_path: /assets/images/master_project_adjusted2.png
    max_height: 150px
    image_caption: "Photo credit: Kevin"
    title: "The Development of Image Recognition Capability for a UAS System Based on IMechE Challenge Requirements."
    excerpt: "Master Project, combining a Rover with a Rasberry Pi 3B in 2020."
    url: ""
    btn_label: "TBD"
    btn_class: "btn--primary"
  - image_path: /assets/images/Bee.jpg
    max_height: 200px
    image_caption: "Photo credit: Joe"
    title: "Design, Build, Fly Module"
    excerpt: "Part of a 7 man team creating and flying an autonomous fixed-wing Drone in 2019."
    url: "https://www.youtube.com/watch?v=j6WzWHWuOyk"
    btn_label: "Youtube"
    btn_class: "btn--youtube"
---

{% include feature_row id="title_of_portfolio" %}

{% include feature_row %}

{% include feature_row id="title_of_skills" %}

<style>
.grid_layout_homepage_skills {
  display: grid;
  max-width: 24rem;
  grid-template-rows: 1fr auto;
  place-items: center; 
  background-color:rgba(84, 84, 84, 0.25); 
  border-radius: .5rem; 
  padding: .5rem;
  height: 9rem; 
  width: 7.9rem;
}
.grid_layout_homepage_text_only {
  display: flex; 
  max-width: 24rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:rgba(84, 84, 84, 0.25); 
  border-radius: .5rem; 
  padding: .5rem;
  height: 4rem; 
  width: 7.9rem;
}
.homepage_grid_text_only {
  display: grid; 
  grid-template-columns:repeat(2,minmax(0,1fr)); 
  gap:1.5rem; 
  place-items: center; 
  text-align: center;
  margin-top:2.5rem; 
}
@media (min-width: 64em) {
  .homepage_grid_text_only {
    grid-template-columns:repeat(4,minmax(0,1fr)); 
    gap:3.0rem; 
  }
}

.homepage_grid {
  display: grid; 
  grid-template-columns:repeat(2,minmax(0,1fr)); 
  gap:1.5rem; 
  align-items:center; 
  /* justify-items: center; */
  margin-top:2.5rem; 
  place-items: center; 
}
@media (min-width: 64em) {
  .homepage_grid {
    grid-template-columns:repeat(3,minmax(0,1fr)); 
    gap:3.0rem; 
  }
}
@media (min-width: 80em) {
  .homepage_grid {
    grid-template-columns:repeat(7,minmax(0,1fr)); 
    gap:3.5rem; 
  }
}
</style>

<h1><center>Software Skills</center></h1>
<ul class= "homepage_grid">
  <li class="grid_layout_homepage_skills">
    <img src="assets/images/logos/python.png", alt="python" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Python</p> 
    </li>
  <li class= "grid_layout_homepage_skills">
    <img src="/assets/images/logos/solidworks.png" alt="solidworks" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Solidworks</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/CATIA.png" alt="CATIA" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">CATIA V5</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/Linux.png" alt="linux" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Linux</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/Mission_Planner.png" alt="Mission Planner" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Mission Planner</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/microsoft_office.png" alt="Microsoft Office" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Microsoft Office</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/docker.png" alt="Docker" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Docker</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/vba.svg" alt="VBA" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">VBA</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/delmia.png" alt="DELMIA" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">DELMIA</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/abaqus.png" alt="Abaqus" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Abaqus</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/ANSYS.png" alt="ANSYS" style="width:7rem;height:4rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:2.0rem;">ANSYS</p> 
    </li>
<!-- </section> -->

</ul>
<h1><center>A.I. Related Experience</center></h1>

<ul class= "homepage_grid">
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/pytorch.png" alt="PyTorch" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">PyTorch</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/Tensorflow.png" alt="Tensorflow" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Tensorflow</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/OpenCV.png" alt="OpenCV" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">OpenCV</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/nvidia-jetson.png" alt="Nvidia Jetson" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Nvidia Jetson Nano</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/khadas.png" alt="Khadas" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Vim3Pro</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/google_coral.png" alt="Google Coral" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Google Coral Dev Board Mini</p> 
    </li>
  <li class="grid_layout_homepage_skills">
    <img src="/assets/images/logos/raspberry-pi.png" alt="Raspberry Pi" style="width:5rem;height:5rem;">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Raspberry Pi 3 & 4</p> 
    </li>
</ul>

<h1><center>Soft Skills</center></h1>
<ul class= "homepage_grid_text_only">
    <li class="grid_layout_homepage_text_only">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Presentation</p> 
    </li>
  <li class="grid_layout_homepage_text_only">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Teamwork</p> 
    </li>
  <li class="grid_layout_homepage_text_only">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Independent Work</p> 
    </li>
  <li class="grid_layout_homepage_text_only">
    <p style=" font-size:1.0rem; line-height:1rem; text-align:center; margin-top:1.0rem;">Research and Writing</p> 
    </li>
</ul>
